In [69]:
import pandas as pd
from datetime import date, datetime
import copy

In [25]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /Applications/anaconda3/lib/python3.9/site-packages (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Applications/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /Applications/anaconda3/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2020.1 in /Applications/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /Applications/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [26]:
df = pd.DataFrame([["ABC", "XYZ"]], columns=["Foo", "Bar"])

In [27]:
df.head()

   Foo  Bar
0  ABC  XYZ

In [28]:
df2 = pd.DataFrame([["ABC", "XYZ"], ["DEF", "UVW"]], columns=["Foo", "Bar"])

In [29]:
df2.head()

   Foo  Bar
0  ABC  XYZ
1  DEF  UVW

In [30]:
with pd.ExcelWriter("path_to_file.xlsx") as writer:
    df.to_excel(writer, sheet_name='Sheet1')
    df2.to_excel(writer, sheet_name='Sheet2')

In [31]:
df = pd.DataFrame(
    [
        [date(2014, 1, 31), date(1999, 9, 24)],
        [datetime(1998, 5, 26, 23, 33, 4), datetime(2014, 2, 28, 13, 5, 13)],
    ],
    index=['x', 'y'],
    columns=['Date', 'Datetime'],
)

In [32]:
df.head()

                 Date            Datetime
x 2014-01-31 00:00:00 1999-09-24 00:00:00
y 1998-05-26 23:33:04 2014-02-28 13:05:13

In [33]:
with pd.ExcelWriter(
    'path_to_file.xlsx', 
    date_format="YYYY-MM-DD",
    datetime_format="YYYY-MM-DD HH:MM:SS"
) as writer:
    df.to_excel(writer, sheet_name='Sheet3')

In [35]:
with pd.ExcelWriter(
    'path_to_file.xlsx', 
    mode='a', 
    engine="openpyxl", 
    if_sheet_exists="overlay",
) as writer:
    pd.DataFrame(
        [
            [1, 2],
            [3, 4]
        ],
        index=['x', 'y'],
        columns=['Date', 'Datetime'],
    ).to_excel(writer, sheet_name='Sheet3')

ValueError: 'overlay' is not valid for if_sheet_exists. Valid options are 'error', 'new' and 'replace'.

In [37]:
with pd.ExcelWriter("path_to_file.xlsx",
    mode="a",
    engine="openpyxl",
    if_sheet_exists="overlay",
) as writer:
    df.to_excel(writer, sheet_name="Sheet1")
    df2.to_excel(writer, sheet_name="Sheet1", startcol=3)

ValueError: 'overlay' is not valid for if_sheet_exists. Valid options are 'error', 'new' and 'replace'.

In [39]:
li = [x for x in range(10)]
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
with pd.ExcelWriter(
    'path_to_file.xlsx', 
) as writer:
    pd.DataFrame(
        [
            [x for x in range(10)],
            [x for x in range(11, 20)],
        ],
        index=[0, 1],
        columns=[x for x in range(10)],
    ).to_excel(writer, sheet_name='Test')

In [45]:
df = pd.DataFrame(
        [
            [x for x in range(10)],
            [x for x in range(10, 20)],
        ],
        index=[0, 1],
        columns=[x for x in range(10)],
    )
df.head()

    0   1   2   3   4   5   6   7   8   9
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19

In [47]:
df.loc[2]=[x for x in range(10)]

In [48]:
df.head()

    0   1   2   3   4   5   6   7   8   9
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2   0   1   2   3   4   5   6   7   8   9

In [49]:
df.index

Int64Index([0, 1, 2], dtype='int64')

In [50]:
len(df.index)

3

In [51]:
df.loc[len(df.index)] = [x for x in range(10)]

In [52]:
df.head()

    0   1   2   3   4   5   6   7   8   9
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2   0   1   2   3   4   5   6   7   8   9
3   0   1   2   3   4   5   6   7   8   9

In [54]:
df2 = pd.DataFrame(
    [],
    index=[],
    columns=['a', 'b'],
)
df2

Empty DataFrame
Columns: [a, b]
Index: []

In [55]:
df2.loc[len(df2.index)] = [1, 2]

In [56]:
df2

   a  b
0  1  2

In [57]:
df2.columns

Index(['a', 'b'], dtype='object')

In [59]:
[x for x in df2.columns]

['a', 'b']

In [60]:
dict = {x: 1 for x in range(10)}

In [61]:
dict

{0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1}

In [64]:
[v for k, v in dict.items()]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [65]:
dict.items()

dict_items([(0, 1), (1, 1), (2, 1), (3, 1), (4, 1), (5, 1), (6, 1), (7, 1), (8, 1), (9, 1)])

In [66]:
dict.values()

dict_values([1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [67]:
[x for x in dict.values()]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [72]:
df = pd.read_excel('Naive_S_P500.xlsx', sheet_name='return')
ret = copy.deepcopy(df.drop(columns=['Unnamed: 0']))
ret = ret.iloc[:, 1:397]
ret.head()

,AMAZON.COM,ABBOTT LABORATORIES,AES,ABIOMED,INTERNATIONAL BUS.MCHS.,ADVANCED MICRO DEVC.,ADOBE SYSTEMS,ALEXANDRIA RLST.EQTIES.,AIR PRDS.& CHEMS.,ALASKA AIR GROUP,...,DENTSPLY SIRONA,S&P GLOBAL,WELLTOWER,XEROX,HP,DXC TECHNOLOGY,WEC ENERGY GROUP,L3 TECHNOLOGIES,MONSTER BEVERAGE,SBA COMMS.
0,0.009078,0.003038,0.023104,0.011834,-0.001705,0.057158,0.041341,0.022843,0.007071,-0.013245,...,0.006313,0.003673,0.018993,0.017592,0.004881,0.010801,0.021277,0.013493,0.050852,0.028636
1,-0.006960,0.001515,0.041710,0.028468,-0.001341,0.004926,-0.002599,0.003878,-0.011472,0.019664,...,0.009212,-0.003673,0.010652,-0.001342,0.028774,-0.007253,0.003253,0.006480,-0.006679,0.016155
2,0.008430,0.012797,-0.009518,-0.007303,0.006689,0.033820,-0.009152,0.012739,-0.008692,-0.010908,...,-0.011435,-0.000969,0.020409,-0.010803,-0.007114,0.075583,-0.004005,-0.006879,-0.011340,0.000000
3,0.004606,0.019009,0.016010,0.020726,0.029265,0.002965,0.024135,0.011399,0.023012,-0.008472,...,0.015461,0.016726,0.004200,-0.006131,0.028166,0.006547,0.007496,0.011746,0.050511,0.000534
4,-0.016641,0.036495,-0.017206,0.040206,-0.014466,-0.015814,-0.016023,0.012903,-0.012794,0.016036,...,0.009815,-0.017308,0.014149,0.013571,0.012493,-0.008557,0.004471,0.009401,0.050881,0.006386

In [74]:
[x for x in ret.columns]

['AMAZON.COM',
 'ABBOTT LABORATORIES',
 'AES',
 'ABIOMED',
 'INTERNATIONAL BUS.MCHS.',
 'ADVANCED MICRO DEVC.',
 'ADOBE SYSTEMS',
 'ALEXANDRIA RLST.EQTIES.',
 'AIR PRDS.& CHEMS.',
 'ALASKA AIR GROUP',
 'BOSTON PROPERTIES',
 'ALLSTATE',
 'HONEYWELL INTL.',
 'AMGEN',
 'HESS',
 'AMERICAN EXPRESS',
 'AMER.ELEC.PWR.',
 'AFLAC',
 'AMERICAN INTL.GP.',
 'ANALOG DEVICES',
 'ANADARKO PETROLEUM',
 'ALEXION PHARMS.',
 'VALERO ENERGY',
 'APACHE',
 "COMCAST 'A'",
 'ANSYS',
 'APPLE',
 'APPLIED MATS.',
 'ALBEMARLE',
 'ARCHER-DANLS.-MIDL.',
 'PINNACLE WEST CAP.',
 'AMEREN',
 "APARTMENT INV.& MAN.'A'",
 'AUTODESK',
 'AUTOMATIC DATA PROC.',
 'AUTOZONE',
 'AVERY DENNISON',
 'BALL',
 "BERKSHIRE HATHAWAY 'B'",
 'BAXTER INTL.',
 'BECTON DICKINSON',
 'AMETEK',
 'VERIZON COMMUNICATIONS',
 'BEST BUY',
 'SL GREEN REALTY',
 'YUM! BRANDS',
 'FIRSTENERGY',
 'H&R BLOCK',
 'BOEING',
 'ROBERT HALF INTL.',
 'BORGWARNER',
 'BOSTON SCIENTIFIC',
 'CH ROBINSON WWD.',
 'TAKE TWO INTACT.SFTW.',
 'METTLER TOLEDO INTL.',
 'BRISTOL MYERS SQUIBB',
 'AFFILIATED MANAGERS',
 'ONEOK',
 'AVALONBAY COMMNS.',
 'UNITED RENTALS',
 'SEMPRA EN.',
 'FEDEX',
 'VERISIGN',
 "AMPHENOL 'A'",
 "BROWN-FORMAN 'B'",
 'QUANTA SERVICES',
 'CSX',
 "CABOT OIL & GAS 'A'",
 'CAMPBELL SOUP',
 "CONSTELLATION BRANDS 'A'",
 'CARDINAL HEALTH',
 'CATERPILLAR',
 'CELGENE',
 'CITRIX SYS.',
 'CENTURYLINK',
 'CERNER',
 'JP MORGAN CHASE & CO.',
 'CHURCH & DWIGHT CO.',
 'CIGNA',
 'CINCINNATI FINL.',
 'CINTAS',
 'CISCO SYSTEMS',
 'CLOROX',
 'COCA COLA',
 'COLGATE-PALM.',
 "MARRIOTT INTL.'A'",
 'COMERICA',
 'CA',
 'CONAGRA BRANDS',
 'CONSOLIDATED EDISON',
 'CMS ENERGY',
 'COOPER COS.',
 'CORNING',
 'SEALED AIR',
 'CUMMINS',
 'D R HORTON',
 'DANAHER',
 "MOODY'S",
 "COGNIZANT TECH.SLTN.'A'",
 'TARGET',
 'DEERE',
 'MORGAN STANLEY',
 "REPUBLIC SVS.'A'",
 'WALT DISNEY',
 'DOLLAR TREE',
 'DOVER',
 'OMNICOM GROUP',
 'DTE ENERGY',
 'DUKE REALTY',
 'FLOWSERVE',
 'DARDEN RESTAURANTS',
 'EBAY',
 'BANK OF AMERICA',
 'CITIGROUP',
 'EASTMAN CHEMICAL',
 'E*TRADE FINANCIAL',
 'CADENCE DESIGN SYS.',
 "DISH NETWORK 'A'",
 'ECOLAB',
 'PERKINELMER',
 'ELECTRONIC ARTS',
 'EMERSON ELECTRIC',
 'ESSEX PROPERTY TST.',
 'ENTERGY',
 'EOG RES.',
 'EQUIFAX',
 'EQUITY RESD.TST.PROPS. SHBI',
 'EQT',
 "ESTEE LAUDER COS.'A'",
 'EXPEDITOR INTL.OF WASH.',
 'EXXON MOBIL',
 'FMC',
 'NEXTERA ENERGY',
 'FASTENAL',
 'FEDERAL REALTY INV.TST.',
 'FIFTH THIRD BANCORP',
 'M&T BANK',
 'FISERV',
 'FLIR SYSTEMS',
 "MACY'S",
 'FRANKLIN RESOURCES',
 'FREEPORT-MCMORAN',
 'ARTHUR J GALLAGHER',
 'GAP',
 'GENERAL DYNAMICS',
 'GENERAL MILLS',
 'GENUINE PARTS',
 'GILEAD SCIENCES',
 "GARTNER 'A'",
 'GOODYEAR TIRE & RUB.',
 'MCKESSON',
 'NVIDIA',
 'GENERAL ELECTRIC',
 'WW GRAINGER',
 'HALLIBURTON',
 'GOLDMAN SACHS GP.',
 'HARLEY-DAVIDSON',
 'HARRIS',
 'HASBRO',
 'HENRY SCHEIN',
 'HCP',
 'HELMERICH & PAYNE',
 'HERSHEY',
 'F5 NETWORKS',
 'JUNIPER NETWORKS',
 'HOLOGIC',
 'UNUM GROUP',
 'HOME DEPOT',
 'HORMEL FOODS',
 'CENTERPOINT EN.',
 'HUMANA',
 'HUNT JB TRANSPORT SVS.',
 'HUNTINGTON BCSH.',
 'RED HAT',
 'NEKTAR THERAPEUTICS',
 'BIOGEN',
 'ILLINOIS TOOL WORKS',
 'INTUIT',
 'IDEXX LABORATORIES',
 'INTEL',
 'INTL.FLAVORS & FRAG.',
 'INTERNATIONAL PAPER',
 'INTERPUBLIC GROUP',
 'JACOBS ENGR.',
 'INCYTE',
 'JOHNSON & JOHNSON',
 'HARTFORD FINL.SVS.GP.',
 'KLA TENCOR',
 'DEVON ENERGY',
 'KELLOGG',
 'KEYCORP',
 'KIMCO REALTY',
 'KIMBERLY-CLARK',
 'BLACKROCK',
 "KOHL'S",
 'KROGER',
 'LAM RESEARCH',
 'AKAMAI TECHS.',
 'LEGGETT&PLATT',
 "LENNAR 'A'",
 'ELI LILLY',
 'LINCOLN NATIONAL',
 "UNITED PARCEL SER.'B'",
 'AGILENT TECHS.',
 'LOCKHEED MARTIN',
 'LOEWS',
 'CARNIVAL',
 "LOWE'S COMPANIES",
 'DOMINION ENERGY',
 'MACERICH',
 'SCANA',
 'MGM RESORTS INTL.',
 'MCCORMICK & COMPANY NV.',
 'MCDONALDS',
 'EVEREST RE GP.',
 'HOST HOTELS & RESORTS',
 'MARSH & MCLENNAN',
 'MASCO',
 'MARTIN MRTA.MATS.',
 'MATTEL',
 'ACTIVISION BLIZZARD',
 'CVS HEALTH',
 'LABORATORY CORP.OF AM. HDG.',
 'MICROSOFT',
 'MICRON TECHNOLOGY',
 'MID-AMER.APT COMMUNITIES',
 'MICROCHIP TECH.',
 '3M',
 'MOHAWK INDUSTRIES',
 'KANSAS CITY SOUTHERN',
 'XCEL ENERGY',
 'FORD MOTOR',
 'NATIONAL OILWELL VARCO',
 'NETAPP',
 'NEWFIELD EXPLORATION',
 'NEWELL BRANDS',
 'NEWMONT MINING',
 "NIKE 'B'",
 'NOBLE ENERGY',
 'NORDSTROM',
 'NORFOLK SOUTHERN',
 'NISOURCE',
 'NORTHERN TRUST',
 'NORTHROP GRUMMAN',
 'WELLS FARGO & CO',
 'NUCOR',
 'CAPITAL ONE FINL.',
 'OCCIDENTAL PTL.',
 'ORACLE',
 'PACCAR',
 'EXELON',
 'PARKER-HANNIFIN',
 'PAYCHEX',
 'PPL',
 'PEPSICO',
 'PFIZER',
 'CONOCOPHILLIPS',
 'PG&E',
 'PIONEER NTRL.RES.',
 'ALTRIA GROUP',
 'PNC FINL.SVS.GP.',
 'AETNA',
 'PPG INDUSTRIES',
 'PRAXAIR',
 'COSTCO WHOLESALE',
 'T ROWE PRICE GROUP',
 'QUEST DIAGNOSTICS',
 'PROCTER & GAMBLE',
 'PROGRESSIVE OHIO',
 'PUB.SER.ENTER.GP.',
 'PULTEGROUP',
 'QUALCOMM',
 'RAYMOND JAMES FINL.',
 'REALTY INCOME',
 'REGENCY CENTERS',
 'UDR',
 'REGENERON PHARMS.',
 'RESMED',
 'US BANCORP',
 'ROSS STORES',
 'ROPER TECHNOLOGIES',
 'ROCKWELL AUTOMATION',
 'ROYAL CARIBBEAN CRUISES',
 "RAYTHEON 'B'",
 'TRAVELERS COS.',
 'MERCK & COMPANY',
 'SCHLUMBERGER',
 'CHARLES SCHWAB',
 'AMERISOURCEBERGEN',
 'SHERWIN-WILLIAMS',
 'SVB FINANCIAL GROUP',
 'SIMON PROPERTY GROUP',
 'SMITH (AO)',
 'SNAP-ON',
 'EDISON INTL.',
 'SOUTHERN',
 'BB&T',
 'SOUTHWEST AIRLINES',
 'AT&T',
 'CHEVRON',
 'STATE STREET',
 'STARBUCKS',
 'PUBLIC STORAGE',
 'STRYKER',
 'STERICYCLE',
 'SUNTRUST BANKS',
 'SYMANTEC',
 'SYNOPSYS',
 'SYSCO',
 'TEXAS INSTRUMENTS',
 'TEXTRON',
 'THERMO FISHER SCIENTIFIC',
 'TIFFANY & CO',
 'TORCHMARK',
 'TOTAL SYSTEM SERVICES',
 'DAVITA',
 'TRACTOR SUPPLY',
 "TYSON FOODS 'A'",
 'MARATHON OIL',
 'UNION PACIFIC',
 'UNITED TECHNOLOGIES',
 'UNITEDHEALTH GROUP',
 "UNIVERSAL HEALTH SVS.'B'",
 'VARIAN MEDICAL SYSTEMS',
 'VENTAS',
 'V F',
 'VERTEX PHARMS.',
 'VULCAN MATERIALS',
 'VORNADO REALTY TRUST',
 'WALMART',
 'WASTE MANAGEMENT',
 'WATERS',
 'J M SMUCKER',
 'WESTERN DIGITAL',
 'WEYERHAEUSER',
 'WHIRLPOOL',
 'SKYWORKS SOLUTIONS',
 'WILLIAMS',
 'ALLIANT ENERGY CORP.',
 'FOOT LOCKER',
 'CARMAX',
 'XILINX',
 'TJX',
 'ZIONS BANCORP.',
 'REGIONS FINL.NEW',
 "MOLSON COORS BREWING 'B'",
 "VIACOM 'B'",
 "CBS 'B'",
 'PEOPLES UNITED FINANCIAL',
 'BANK OF NEW YORK MELLON',
 'CHUBB',
 'MOSAIC',
 'STANLEY BLACK & DECKER',
 'PVH',
 'PROLOGIS',
 'RALPH LAUREN CL.A',
 'MOTOROLA SOLUTIONS',
 'AON CLASS A',
 'HOLLYFRONTIER',
 'INGERSOLL-RAND',
 'O REILLY AUTOMOTIVE',
 'AMERICAN TOWER',
 'EXPRESS SCRIPTS HOLDING',
 'DUKE ENERGY',
 'EATON',
 'L BRANDS',
 'ARCONIC',
 'ENVISION HEALTHCARE',
 'XL GROUP',
 'BAKER HUGHES A',
 'BOOKING HOLDINGS',
 'ANDEAVOR',
 'EVERGY',
 'JEFFERIES FINANCIAL GROUP',
 'PERRIGO',
 'PENTAIR',
 'QORVO',
 'CROWN CASTLE INTL.',
 'MEDTRONIC',
 'WALGREENS BOOTS ALLIANCE',
 'MYLAN',
 'IRON MOUNTAIN',
 'EVERSOURCE ENERGY',
 'JOHNSON CONTROLS INTL.',
 'ALLERGAN',
 'GGP',
 'DENTSPLY SIRONA',
 'S&P GLOBAL',
 'WELLTOWER',
 'XEROX',
 'HP',
 'DXC TECHNOLOGY',
 'WEC ENERGY GROUP',
 'L3 TECHNOLOGIES',
 'MONSTER BEVERAGE',
 'SBA COMMS.']

In [75]:
df = pd.DataFrame(
    [],
    index=[],
    columns=[x for x in ret.columns],
)
df

Empty DataFrame
Columns: [AMAZON.COM, ABBOTT LABORATORIES, AES, ABIOMED, INTERNATIONAL BUS.MCHS., ADVANCED MICRO DEVC., ADOBE SYSTEMS, ALEXANDRIA RLST.EQTIES., AIR PRDS.& CHEMS., ALASKA AIR GROUP, BOSTON PROPERTIES, ALLSTATE, HONEYWELL INTL., AMGEN, HESS, AMERICAN EXPRESS, AMER.ELEC.PWR., AFLAC, AMERICAN INTL.GP., ANALOG DEVICES, ANADARKO PETROLEUM, ALEXION PHARMS., VALERO ENERGY, APACHE, COMCAST 'A', ANSYS, APPLE, APPLIED MATS., ALBEMARLE, ARCHER-DANLS.-MIDL., PINNACLE WEST CAP., AMEREN, APARTMENT INV.& MAN.'A', AUTODESK, AUTOMATIC DATA PROC., AUTOZONE, AVERY DENNISON, BALL, BERKSHIRE HATHAWAY 'B', BAXTER INTL., BECTON DICKINSON, AMETEK, VERIZON COMMUNICATIONS, BEST BUY, SL GREEN REALTY, YUM! BRANDS, FIRSTENERGY, H&R BLOCK, BOEING, ROBERT HALF INTL., BORGWARNER, BOSTON SCIENTIFIC, CH ROBINSON WWD., TAKE TWO INTACT.SFTW., METTLER TOLEDO INTL., BRISTOL MYERS SQUIBB, AFFILIATED MANAGERS, ONEOK, AVALONBAY COMMNS., UNITED RENTALS, SEMPRA EN., FEDEX, VERISIGN, AMPHENOL 'A', BROWN-FORMAN 'B', QUANTA SERVICES, CSX, CABOT OIL & GAS 'A', CAMPBELL SOUP, CONSTELLATION BRANDS 'A', CARDINAL HEALTH, CATERPILLAR, CELGENE, CITRIX SYS., CENTURYLINK, CERNER, JP MORGAN CHASE & CO., CHURCH & DWIGHT CO., CIGNA, CINCINNATI FINL., CINTAS, CISCO SYSTEMS, CLOROX, COCA COLA, COLGATE-PALM., MARRIOTT INTL.'A', COMERICA, CA, CONAGRA BRANDS, CONSOLIDATED EDISON, CMS ENERGY, COOPER COS., CORNING, SEALED AIR, CUMMINS, D R HORTON, DANAHER, MOODY'S, COGNIZANT TECH.SLTN.'A', TARGET, ...]
Index: []

[0 rows x 396 columns]

In [76]:
df.loc[len(df.index)] = [x for x in range(396)]
df.head()

,AMAZON.COM,ABBOTT LABORATORIES,AES,ABIOMED,INTERNATIONAL BUS.MCHS.,ADVANCED MICRO DEVC.,ADOBE SYSTEMS,ALEXANDRIA RLST.EQTIES.,AIR PRDS.& CHEMS.,ALASKA AIR GROUP,...,DENTSPLY SIRONA,S&P GLOBAL,WELLTOWER,XEROX,HP,DXC TECHNOLOGY,WEC ENERGY GROUP,L3 TECHNOLOGIES,MONSTER BEVERAGE,SBA COMMS.
0,0,1,2,3,4,5,6,7,8,9,...,386,387,388,389,390,391,392,393,394,395

In [78]:
with pd.ExcelWriter('test.xlsx') as writer:
    df.to_excel(writer, sheet_name='testing_sheet')

In [79]:
li = [1, 2, 3]
li2 = [-1, 0, 1]
[x + y for x, y in zip(li, li2)]

[0, 2, 4]

In [80]:
df.head()

,AMAZON.COM,ABBOTT LABORATORIES,AES,ABIOMED,INTERNATIONAL BUS.MCHS.,ADVANCED MICRO DEVC.,ADOBE SYSTEMS,ALEXANDRIA RLST.EQTIES.,AIR PRDS.& CHEMS.,ALASKA AIR GROUP,...,DENTSPLY SIRONA,S&P GLOBAL,WELLTOWER,XEROX,HP,DXC TECHNOLOGY,WEC ENERGY GROUP,L3 TECHNOLOGIES,MONSTER BEVERAGE,SBA COMMS.
0,0,1,2,3,4,5,6,7,8,9,...,386,387,388,389,390,391,392,393,394,395

In [81]:
df.loc[len(df.index)] = [x for x in range(396)]

In [83]:
df.head()

,AMAZON.COM,ABBOTT LABORATORIES,AES,ABIOMED,INTERNATIONAL BUS.MCHS.,ADVANCED MICRO DEVC.,ADOBE SYSTEMS,ALEXANDRIA RLST.EQTIES.,AIR PRDS.& CHEMS.,ALASKA AIR GROUP,...,DENTSPLY SIRONA,S&P GLOBAL,WELLTOWER,XEROX,HP,DXC TECHNOLOGY,WEC ENERGY GROUP,L3 TECHNOLOGIES,MONSTER BEVERAGE,SBA COMMS.
0,0,1,2,3,4,5,6,7,8,9,...,386,387,388,389,390,391,392,393,394,395
1,0,1,2,3,4,5,6,7,8,9,...,386,387,388,389,390,391,392,393,394,395

In [85]:
[x + y for x, y in zip(df.loc[0], df.loc[1])]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790]

In [87]:
df.iloc[-1]

AMAZON.COM                   0
ABBOTT LABORATORIES          1
AES                          2
ABIOMED                      3
INTERNATIONAL BUS.MCHS.      4
                          ...
DXC TECHNOLOGY             391
WEC ENERGY GROUP           392
L3 TECHNOLOGIES            393
MONSTER BEVERAGE           394
SBA COMMS.                 395
Name: 1, Length: 396, dtype: object

In [88]:
df.iloc[-2]

AMAZON.COM                   0
ABBOTT LABORATORIES          1
AES                          2
ABIOMED                      3
INTERNATIONAL BUS.MCHS.      4
                          ...
DXC TECHNOLOGY             391
WEC ENERGY GROUP           392
L3 TECHNOLOGIES            393
MONSTER BEVERAGE           394
SBA COMMS.                 395
Name: 0, Length: 396, dtype: object

In [89]:
df = pd.read_excel('Naive_S_P500.xlsx', sheet_name='return')
ret = copy.deepcopy(df.drop(columns=['Unnamed: 0']))
ret = ret.iloc[:, 1:397]

In [90]:
ret.head()

,AMAZON.COM,ABBOTT LABORATORIES,AES,ABIOMED,INTERNATIONAL BUS.MCHS.,ADVANCED MICRO DEVC.,ADOBE SYSTEMS,ALEXANDRIA RLST.EQTIES.,AIR PRDS.& CHEMS.,ALASKA AIR GROUP,...,DENTSPLY SIRONA,S&P GLOBAL,WELLTOWER,XEROX,HP,DXC TECHNOLOGY,WEC ENERGY GROUP,L3 TECHNOLOGIES,MONSTER BEVERAGE,SBA COMMS.
0,0.009078,0.003038,0.023104,0.011834,-0.001705,0.057158,0.041341,0.022843,0.007071,-0.013245,...,0.006313,0.003673,0.018993,0.017592,0.004881,0.010801,0.021277,0.013493,0.050852,0.028636
1,-0.006960,0.001515,0.041710,0.028468,-0.001341,0.004926,-0.002599,0.003878,-0.011472,0.019664,...,0.009212,-0.003673,0.010652,-0.001342,0.028774,-0.007253,0.003253,0.006480,-0.006679,0.016155
2,0.008430,0.012797,-0.009518,-0.007303,0.006689,0.033820,-0.009152,0.012739,-0.008692,-0.010908,...,-0.011435,-0.000969,0.020409,-0.010803,-0.007114,0.075583,-0.004005,-0.006879,-0.011340,0.000000
3,0.004606,0.019009,0.016010,0.020726,0.029265,0.002965,0.024135,0.011399,0.023012,-0.008472,...,0.015461,0.016726,0.004200,-0.006131,0.028166,0.006547,0.007496,0.011746,0.050511,0.000534
4,-0.016641,0.036495,-0.017206,0.040206,-0.014466,-0.015814,-0.016023,0.012903,-0.012794,0.016036,...,0.009815,-0.017308,0.014149,0.013571,0.012493,-0.008557,0.004471,0.009401,0.050881,0.006386

In [94]:
[x for x in ret.iloc[0, 1:397]]

[0.0030378591124276396,
 0.023104368345417656,
 0.011834457647002798,
 -0.0017046150480942365,
 0.05715841383994862,
 0.041341340156441544,
 0.022842697735070982,
 0.007070925068173204,
 -0.013245226750020567,
 0.01645632159947934,
 0.012132501761913266,
 0.00562162245535101,
 0.018842411497252506,
 0.05230606870532131,
 0.021531012448137054,
 0.007253221859142324,
 0.0032261561479949297,
 0.020167928576437743,
 0.022875463516333454,
 0.02758436668595379,
 0.00197336028517529,
 0.052107324247496714,
 0.03414476008216274,
 0.011885109958923905,
 -0.07538813965183132,
 0.039014714856720645,
 0.021506205220963463,
 0.06608556374551441,
 -0.011419373683072834,
 0.02625449128765599,
 0.012027303081984735,
 0.022196150706826186,
 -0.00420168685369997,
 0.0093262514995076,
 0.010948025452651302,
 0.01899698706145096,
 0.012260881732210937,
 0.009999235927585079,
 0.01868163046528485,
 0.006139569604922358,
 -0.0004682000966380665,
 0.008595174722369092,
 0.02834335519174814,
 0.017003459820333373,
 -0.0027746190818830666,
 0.021006629849630122,
 -0.004081638319648619,
 0.002843334301144251,
 -0.010879767660288055,
 0.018466085632881303,
 -0.001225740705050014,
 0.007264931724248356,
 0.019581045199106563,
 0.007579895522769171,
 0.011250659563100876,
 0.026802686315010933,
 0.02557792496548737,
 0.024241598826806803,
 0.018216983331066333,
 0.028579654541648312,
 -0.0006772773709620183,
 -0.01564689078165874,
 0.004733469899701517,
 0.02816279997834598,
 0.015071875358661975,
 -0.016287063191233922,
 0.05373200346193549,
 0.007696206634470283,
 -0.009191945225383445,
 0.01701814044763324,
 0.0005191658851575032,
 0.001233806448928344,
 0.017594288001552567,
 -0.0015089787079392248,
 0.01159248149274299,
 0.012518941666135779,
 0.014427662346520738,
 0.005357160452444297,
 0.004911820547208571,
 0.008473601118993713,
 0.01909227793484011,
 0.0045598114782635524,
 0.014530485919681473,
 0.001093294569541894,
 0.00803265854426617,
 0.01469071541000381,
 -0.011057719233698091,
 0.011767583805597868,
 0.007954465246294673,
 0.00275292672140508,
 0.0,
 0.019643039033557744,
 -0.01434487570946566,
 0.012624752397289378,
 0.033304302735775476,
 0.010344497888669594,
 0.024764089096471365,
 0.007925541783334503,
 -0.004558308558274016,
 -0.0016163400771202789,
 0.027294592028118562,
 0.01847151362121042,
 0.01778079777725112,
 0.010806065255681065,
 0.02439540839959347,
 0.011446048812108292,
 0.012196676335728135,
 0.02979131982673414,
 0.03355594177126333,
 -0.010083818245378654,
 0.028287232580733932,
 0.019951321443214695,
 0.015539260181049952,
 0.013094737468271842,
 0.0038277595327012577,
 0.0017714796483817993,
 0.034001684402716274,
 -0.015840264509217643,
 0.018086718068217336,
 0.019498961371348458,
 0.005739854242297512,
 0.023792784555592427,
 0.026024040699111323,
 0.07355290078358662,
 0.01254590423345541,
 0.021995577692110444,
 0.02529736623815532,
 -0.004190368298626463,
 -0.0010374213601791631,
 0.04013099564323771,
 0.017154998367088593,
 0.011959004043526981,
 0.00025552574560896627,
 0.01602912958409269,
 0.003968784148446601,
 0.017633614516250094,
 0.009659688726550925,
 0.01687429026540071,
 0.028095493453035036,
 0.019904801335196832,
 0.048613126017247994,
 0.0147865117712994,
 0.003960401216096914,
 0.008295179632853093,
 0.005257848310900908,
 0.006581210636876662,
 0.039718094596578914,
 0.008490981156787359,
 0.027243455611107033,
 0.026964058295563188,
 0.04440145700015906,
 0.009088389736790202,
 0.00979713924498326,
 0.05311539062425625,
 0.00904207579212914,
 -0.004281828262440803,
 0.020027078874396094,
 -0.008959741371471869,
 0.0009161704717795821,
 0.01283155550348628,
 0.054075722539090224,
 -0.007266153676622919,
 0.07736248114566333,
 -0.051057306185865334,
 -0.036797491191033704,
 0.017429635135283596,
 0.018600634169549293,
 0.011258296305893109,
 0.01160554612030789,
 0.026338821635911287,
 0.003967384529469681,
 0.019183240469317027,
 0.0285682057003187,
 -0.001215805620889878,
 0.03173476184166908,
 0.017908909121684607,
 0.014528100562909808,
 0.005403546227151675,
 0.024145245801868415,
 0.0074349784875179905,
 -0.003576609846373169,
 0.008255980847019078,
 0.01665731091684344,
 0.0,
 0.025138923432989946,
 0.02495099254947435,
 0.02719623723861115,
 0.03380027802619881,
 0.011502312229597803,
 0.022223136784710256,
 0.02005930551477526,
 -0.0038624566526416085,
 0.004782058037058314,
 -0.025634413970787716,
 0.0037007708110806873,
 0.027913930655381926,
 0.04272685248256906,
 0.050530808647215965,
 0.028276185006006694,
 0.013514905136932312,
 0.009384453256251373,
 0.0053085725197649985,
 0.006288755890048835,
 -0.0012580596092377826,
 0.019624807711758594,
 0.020363532237500453,
 0.00613177723205213,
 0.02507166370363445,
 0.02631133286911127,
 0.019862375160211304,
 0.007065246781237087,
 0.009335332563466752,
 -0.005948857519772285,
 0.0045734818235029905,
 0.0120609325658737,
 0.003771217543079324,
 0.0332290704226209,
 0.025607781579176016,
 -0.020434938414306894,
 0.014451118538174506,
 -0.0026530241068078923,
 -0.0031619109389712965,
 0.02604412159254921,
 0.014914519565087075,
 0.03045920748470844,
 -0.0006222775558611619,
 0.020561352674003767,
 0.029677112811392382,
 0.0004092490337454726,
 0.0059411462899082,
 0.01414814596602698,
 0.07834806150657275,
 0.03314818154390181,
 0.04012672591479082,
 0.0029393260717144004,
 0.06769365083647787,
 -0.00972572087013021,
 0.026929411878631543,
 0.008519753344770486,
 -0.03126670645594702,
 0.02228225538273453,
 0.009411382248555821,
 -0.008018418021021082,
 0.01532052393588856,
 0.038805574421795073,
 0.006690531359482418,
 0.07347331833811574,
 0.03144152583481888,
 0.016045995556970487,
 0.02747017571389134,
 0.010406556780951376,
 0.013290097892188612,
 0.020204026897022158,
 0.01144408316138276,
 0.019533529780344207,
 0.03926684671828516,
 0.009384704887596318,
 0.031108499282279312,
 0.003474811140902239,
 0.02759565809803789,
 -0.0026543520388914903,
 0.0017256259674698574,
 0.016294020944113162,
 0.009055298821554968,
 0.013239746562269398,
 -0.0029180061557140414,
 0.01542975922748823,
 -0.010848147710875498,
 0.02507920787309412,
 0.04665858696470658,
 0.02113078163007332,
 0.021796845607291792,
 0.02647347666717137,
 0.025457747301741603,
 0.020688937211469985,
 0.0,
 -0.002352019900430689,
 0.01296345227340155,
 0.018512698742289075,
 0.001011889790363416,
 0.010927233213866789,
 -0.002221729418662748,
 -0.003742986278834392,
 0.029121846187805053,
 0.029122256320208276,
 0.061961864210842654,
 0.01957538039144099,
 0.020559957024179096,
 -0.005076713254224142,
 -0.006210535006440601,
 0.023217425499784474,
 0.04865991555720969,
 0.025497504298004126,
 0.0262517903981992,
 0.015517552750185657,
 0.009499002794996178,
 0.0,
 0.008943149036442472,
 0.03988444048054413,
 0.027398974188114347,
 0.028254179061792246,
 0.032542092885466695,
 0.003818942078201261,
 -0.004596143932283011,
 0.01730406280508543,
 -0.0005715918989577644,
 0.019743977989690988,
 0.001287415691174722,
 0.03583295628218401,
 0.00673228850370126,
 0.004966075427038164,
 0.012715884325302714,
 0.0035911177711175513,
 -0.016815682856615298,
 0.017228303960177566,
 0.011083047606334773,
 -0.023071120901311887,
 0.0676919278220557,
 -0.004481521256327373,
 0.01102821564864553,
 -0.006619867559096909,
 0.003417346341521768,
 -0.007378296079387153,
 0.02345850977345903,
 -0.005799218862351363,
 0.008277895028485376,
 0.01348796287277482,
 0.03032467288382753,
 -0.012254264923466936,
 0.010488460620652982,
 0.007905179507113468,
 0.03088184543343462,
 0.021791986463084917,
 0.00450905605406445,
 -0.013098787297697194,
 0.02330202520284411,
 0.031025326278987766,
 0.016272025108215443,
 -0.006805640899879385,
 0.031647085493212886,
 0.02197028346444511,
 -0.0034497662500747347,
 0.012102226109837046,
 0.009614058028380683,
 0.0023855684490704993,
 0.2435474653821584,
 0.0,
 0.007698174098357743,
 0.020510472564012436,
 0.02037484818905218,
 0.02497598607017699,
 0.0027024234303465906,
 -0.01555241300748477,
 0.011726782180753705,
 -0.006791804481468058,
 0.023622392933896192,
 0.03552286065851282,
 0.04451822959029262,
 0.0027210563820409452,
 -0.0006250000203450813,
 0.007352974305258733,
 0.03551917658451639,
 0.014108105786736597,
 0.002084574906148702,
 -0.0022396425935047983,
 0.011097428804078512,
 0.021208325748241733,
 0.01253611284892554,
 0.05052811132385833,
 0.01600034134644112,
 0.052843676002614595,
 0.005103235385177466,
 0.001895439829034928,
 0.016628251437578474,
 -0.0069739485738188915,
 0.0380825710472096,
 -0.0003716781310210809,
 0.004851854951967336,
 0.025210481845470704,
 0.0020020026706729687,
 -0.004035925582897722,
 0.0055710450494554295,
 0.02667039372013796,
 0.01313999043368031,
 0.027081034089000863,
 0.006312683421496327,
 0.0036732762424062045,
 0.01899253582727432,
 0.017591935803732025,
 0.004881053435975954,
 0.010801126900727976,
 0.02127739844728488,
 0.013493323400094496,
 0.05085162181204465,
 0.02863631798045155]

In [93]:
list(ret.iloc[1, 1:397])

[0.0015154758299004926,
 0.041710488581370456,
 0.02846792137701943,
 -0.001341381824201336,
 0.004926118336056003,
 -0.0025994295895142355,
 0.0038778526539788613,
 -0.01147195449834431,
 0.019663554908778063,
 0.0037086135221491815,
 -0.0010968922489187842,
 -0.004013757601219609,
 -0.004739936528061292,
 0.013233913034620294,
 -0.012054101756498624,
 -0.0016072867108720265,
 0.005567466201164447,
 0.0014348427625647034,
 0.009221654717453853,
 0.008892581725845956,
 0.0063866588987961884,
 0.010066708264346311,
 -0.002824860635554739,
 0.005702375088416977,
 -0.01501491498839286,
 0.002936145662470015,
 0.008690983547419812,
 -0.020217651166009067,
 0.06125174743094868,
 0.0028228670827045027,
 -0.0050261076230012375,
 0.00899852175882333,
 -0.00539464190902198,
 0.0032324166509752252,
 -0.009314483025689477,
 0.01480203236925745,
 0.043077593483304165,
 0.0006743088589960555,
 0.013725350573871038,
 0.014778594096118683,
 0.0105250415936663,
 0.028875763195417188,
 -0.01531906506256824,
 0.01342302033214055,
 0.008519160275505356,
 0.00935051078120051,
 -0.008213598537388744,
 0.010310097683174386,
 -0.00186940901016665,
 -0.01353024145611766,
 0.034160444298006236,
 0.020170535218233632,
 -0.013385587477319763,
 0.008058061329762441,
 -0.026598472338264432,
 0.006891159471461756,
 0.011647227168443077,
 0.01098493834657879,
 -0.0033641747456320988,
 -0.01308919211001405,
 0.014604410227566022,
 -0.021566705558775462,
 0.03208594748870596,
 -0.00042084498401824533,
 0.007451599308421019,
 -0.002610009720613287,
 0.022243087384808333,
 -0.004008021397538822,
 0.008810629682154906,
 0.001285695129061505,
 0.025114500121415008,
 0.007524027817480797,
 0.023660326036590004,
 0.011112894062119509,
 0.009634894930946249,
 -0.01428416719070485,
 0.003871933355528405,
 0.02227806080940098,
 0.011954979664687178,
 -0.0009647854100988899,
 0.022663859577212085,
 0.006627160634382369,
 -0.0019579056670573137,
 0.01176803659536177,
 0.010902097514203476,
 0.008643096156020014,
 0.015658682933195955,
 0.0034010873740284073,
 0.0,
 -0.004822606659931196,
 0.02919915469226235,
 0.039124794492232225,
 0.003785493479481886,
 0.05011509425456015,
 -0.008154434965164298,
 0.004246965415927549,
 -0.0011124355537358006,
 0.006099379460150816,
 -0.001280058691747491,
 0.0013226543187687075,
 0.0006856586101923347,
 0.00521383528814545,
 -0.016948209287764797,
 0.007816446842320862,
 0.016968373573723855,
 0.005558786751636117,
 -0.0025191814536627715,
 0.0037708529091436335,
 0.0024389630755235446,
 0.016748410203382136,
 0.0011269713174185958,
 -0.010677017935881078,
 -0.018634918416293566,
 0.0,
 0.0328827415388681,
 0.0192819295494505,
 0.017625482953154515,
 -0.009286685568204334,
 0.000833333381558853,
 0.023164197039798027,
 0.0014630580517603152,
 0.007701678624017861,
 -0.003412002172805287,
 0.0010125301459913529,
 -0.009919162507737224,
 0.0034947614200984845,
 0.012412677527309443,
 0.048590184166765596,
 0.010326098539220594,
 0.0017088179141117653,
 0.005530987551533779,
 0.0,
 -0.010272303989080373,
 0.01417777896956912,
 0.012334495703795228,
 0.0025195730057210267,
 0.013865434087745395,
 0.025218727778782462,
 0.01238270611038184,
 0.0012505199102336114,
 0.056282597626633374,
 0.013312399451060277,
 -0.0050948312867086605,
 8.695274124000007e-05,
 0.008235458818434686,
 0.0011303267847517983,
 0.013618004368440496,
 0.040668254801296065,
 -0.0005600672227047624,
 0.015539019020743975,
 0.027613639931892194,
 -0.001414627481629943,
 -0.004326896275418076,
 0.011866866779899262,
 -0.013908647406320793,
 -0.01117987519847173,
 0.0002267163522850367,
 -0.008032171697264267,
 0.0016012813669738276,
 0.00807527750829067,
 0.015186320707985519,
 -0.000911992767269462,
 0.030913870253314456,
 0.007990641811786376,
 0.04624638038896615,
 0.00988617551167922,
 -0.018600634169549168,
 0.01143213413431206,
 0.0,
 0.019352579119365415,
 -0.003084382264591573,
 0.00041296717497893816,
 0.02638675517319503,
 0.022851264916768057,
 0.011275909782542408,
 0.002786914461961327,
 0.0014781968693109652,
 0.007159606516085281,
 0.01320534574977416,
 0.004139568300421224,
 0.007732716563054053,
 0.01327227241663021,
 0.004337774297382793,
 -0.00751883241402734,
 0.015296973266584192,
 0.006564822671365843,
 -0.007922402300384625,
 0.019896585339436102,
 0.008654119144462557,
 0.006217636610870582,
 0.01154326304606594,
 0.0038624566526414884,
 0.0016500141244679735,
 -0.008267137704893663,
 -0.010610179112015459,
 0.009764113374905141,
 0.024692612590371414,
 0.0028943580263645565,
 -0.011054428324385853,
 -0.004893403682729236,
 0.006888233509661492,
 0.0013227515156165315,
 0.0026812277141598857,
 0.014528100562909808,
 0.008545014959236295,
 -0.003855691915197602,
 -0.01245234003464162,
 0.0026493423684192663,
 -0.0005799555007535643,
 -0.004491025512463827,
 -0.026061000342084917,
 0.028428951818734432,
 0.00891006785655194,
 0.002377886783779706,
 -0.012060932565873794,
 0.0006271558687846854,
 -0.015498890769847676,
 -0.010087552820079074,
 0.0045059619207061365,
 0.01212136053234482,
 0.0,
 0.019554210949106702,
 0.0048318250481574326,
 0.03919224380764727,
 -0.011465478109278096,
 0.005896060525127444,
 -0.005069076878946281,
 0.0060086972816174354,
 0.013412109197873494,
 0.004834820054583311,
 0.02272825107755609,
 0.029496173921585555,
 0.005360027126084106,
 0.025571996703995816,
 0.008766493212182373,
 0.01562803121336009,
 -0.004664753250516642,
 0.013674196514230904,
 -0.0013264360613070073,
 0.002298851587110649,
 -0.005167351992231486,
 -0.0013390724143441293,
 0.007185509655160865,
 -0.011666536233829308,
 0.01559290587240282,
 -0.006459076665705312,
 -0.011935254870547796,
 0.0015860431556347797,
 0.01691585464049713,
 0.0,
 0.02810910957143406,
 0.008506302096144268,
 0.008630594527701173,
 -0.0005021340803472585,
 0.0318669629778937,
 -0.008464442616150017,
 0.00026684456462536016,
 0.017245038423439794,
 0.007176803323456777,
 0.006273546297238237,
 0.0038200386012387185,
 0.013868897925445246,
 -0.0080201866067167,
 0.0032000027306708497,
 0.004510977507963371,
 0.004082828652007207,
 0.0018696359657079922,
 0.004405103214937982,
 0.001649794149981625,
 -0.008523124772208252,
 0.03198304585305074,
 0.014696648826253643,
 -0.0022547923870890937,
 0.006264445148414695,
 0.0,
 0.0012570711900511137,
 0.00599975713952617,
 0.003626178359453665,
 0.008455994914992907,
 0.011313759900273534,
 0.014935558085877003,
 -0.003565066164496257,
 -0.00025003125520928253,
 0.011028331041478233,
 0.01153625423054365,
 0.013263048817049893,
 0.047643594198609855,
 -0.006649354306636968,
 0.0,
 -0.009063506153346853,
 0.0025475029369018023,
 0.0054073057130661056,
 0.009299989529589579,
 0.010664397893060791,
 -0.0022837577724900103,
 0.007769315125612974,
 0.030568757174731735,
 0.0072580963789818705,
 -0.002881602129583067,
 0.002979061171057472,
 0.02558502203648041,
 0.003851920020527974,
 0.017117234649854075,
 -0.0030758739219922233,
 0.010614812464993085,
 0.02985296314968113,
 0.018882187721330015,
 0.0006430868388832155,
 0.008984786407815257,
 -0.00012904058344257848,
 0.007567070159330264,
 -0.014807388355697167,
 0.001253246616357167,
 0.021856016108021722,
 0.005806093337865756,
 -0.01638609033712662,
 0.005966604813221696,
 0.013094117221041495,
 -0.0008737440485968834,
 -0.006032665563092656,
 0.002426989299060935,
 0.0031931905791549855,
 -0.00220353604976841,
 0.0030468105124025397,
 -0.003459266080471454,
 0.014588410296488392,
 -0.011423674319029345,
 0.0016262475114845584,
 0.001944895264605745,
 -0.013127855092532996,
 -0.007111843487717475,
 0.003080310466379769,
 0.03309505760177626,
 0.02387552365824669,
 0.004586056794719649,
 0.013346241952894704,
 0.0062521273871161505,
 0.013245226750020505,
 -0.005563891948049346,
 0.027616528967847012,
 0.04402988215923385,
 0.04930427656572336,
 0.007035859643616912,
 0.0017381232649292583,
 -0.004477619421294611,
 0.009333560637666561,
 -0.007662872745569137,
 0.017418810509416335,
 0.004912407386340368,
 0.01690795664970067,
 0.013245226750020505,
 -0.0027024234303466925,
 -0.003139720004667641,
 -0.0030196298737199456,
 0.0007171029349968235,
 0.011605704466903512,
 0.0034838572018483687,
 0.011629916253898266,
 0.018356791582426295,
 -0.0021905813798184753,
 0.030305349495328843,
 0.010653631894421155,
 -0.0010782004974602606,
 -0.004322880697764836,
 -0.011274076573218108,
 0.005669644929995995,
 -0.005152437332588584,
 0.02031115812712298,
 0.010425172686228145,
 0.0035211303985789606,
 0.008287340248570287,
 -0.013979724408268902,
 0.008378121361235093,
 0.003292726056975907,
 0.0394632842476812,
 0.012378584232639971,
 0.020604113732031592,
 0.008948605576014014,
 -0.03155683134175922,
 -0.004008021397538711,
 0.005925666430307624,
 0.0015140048312150113,
 0.0037027752463733208,
 -0.0009111617942457701,
 0.01153215391914782,
 0.00921156108199579,
 -0.003673276242406077,
 0.010652180757722745,
 -0.0013424889515976455,
 0.028774023487820852,
 -0.007252568563912375,
 0.003252849108664581,
 0.0064803785397345255,
 -0.0066792755939173755,
 0.01615544022228499]

In [95]:
pd.DataFrame(

columns=[x for x in range(10)])

ValueError: Shape of passed values is (10, 1), indices imply (10, 10)